body  {
	margin:0;
	padding:0;
	font-family: Georgia, "Times New Roman", Times, serif;
	background:#fff;
	text-align:center;
}

a {
	color:#3382D5;
	text-decoration:none;
}

a:hover {
	color:#30649D;
	text-decoration:underline;
}

p {
	font-size:12px;
	color:#404040;
}

img.left {
	float:left;
	padding:5px;
	background:#fff;
	margin-right:6px;
	border:1px solid #c4c4c4;
}

img.right {
	float:right;
	padding:3px;
	margin-right:6px;
	border:1px solid #c4c4c4;
}

img:hover {
	border:1px solid #30649D;
}

ul {
	list-style-image:url(bullet.gif);
	margin-left:-10px !important;
	margin-left:15px;
}	

li {
	margin-bottom:1em;
}	

.container {  
	width:95%;
	background:#fff;
	margin-left:auto;   
	margin-right:auto;
	text-align:center;
}

.nav {
	text-align:center;
	background:url(navbutton.gif) repeat-x;
	height:30px;
	padding-top:5px;
}

.nav a  {
	padding:0 11px;
	color:#000;
	margin-left:-6px;
}

.nav a:hover {
	padding:5px 11px 7px 11px; 
	background:url(navbarhover.gif) repeat-x;
	text-decoration:none;
}	

header {
	background:url(header.gif) repeat-x;
	height:104px;
}

.head h1 {
	font-family:Century Gothic, georgia, helvetica, times, sans-serif;
	font-weight:normal;
	font-size:35px;
	text-transform:uppercase;
	text-align:center;
	margin:0;
	color:#fff;
}

.right h1, .left h1 {
	font-size:17px;
	font-family:georgia, arial, georgia, times, sans-serif;
	border-bottom:1px solid #c4c4c4;
	font-weight:normal;
}

.middle h1 {
	font-size:28px;
	font-weight:normal;
  text-transform:uppercase;
	font-family:Century Gothic, georgia, helvetica, times, sans-serif;
	color:#316FB2;  
}


.middle h3 {
	font-size:24px;
	font-weight:normal;
	font-family:Century Gothic, georgia, helvetica, times, sans-serif;
	color:#000;  
}
	
.left {
	float:left;
	width:21%;
	margin-left:9px;
	font-size:12px;
	text-align:left;
}

.middle {
	float:left;
	font-size:12px;
	width:51%;
	margin-left:14px;
	text-align:left;
}

.right {
	float:left;
	font-size:12px;
  left:0px;
	margin-left:20px;
	width:21%;
	text-align:left;
}

.sidepost {
	border:1px solid #ccc;
	padding:5px;
	margin-bottom:10px;
}

.post {
	background-color:#f8f8f8;
	padding:5px;
	padding-top:1px;
	display:block;
}

.links {
	font-size:12px;
	text-align:right;
}

.links a {
	margin-right:10px;
}

footer {
	border-top:1px solid #c4c4c4;
	text-align:center;
	width:100%;
	clear:both;
	padding-bottom:1px;
}